#contact-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px 96px;
  gap: 64px;
  margin-top: -5%;
}

#contact-me {
  text-align: left;
  color: #101828;
}

#contact-me-text {
  color: #475467;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 7px;
  color: #344054;
  width: 720px;
  height: 474px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0;
  gap: 4px;

  width: 720px;
  height: 394px;
}

#name-row {
  gap: 4px;
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 21px;
}

#first_name,
#last_name {
  width: 348px;
}

label {
  /* width: 71px; */
  height: 20px;

  /* Text sm/Medium */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  /* line-height: 20px; */
}

input {
  width: 720px;
  height: 44px;
  border: 1px solid #d0d5dd;
  font-weight: 400;
  font-size: 16px;
  font-family: "Inter";
  /* color: #667085; */
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

input::placeholder {
  width: 692px;
  height: 108px;
  color: #667085;
  margin-left: 10px;
  top: 30%;

  /* Text md/Normal */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 10px;
}

textarea::placeholder {
  width: 692px;
  height: 108px;
  margin-left: 10px;

  color: #667085;

  /* Text md/Normal */

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

#checkbox-area {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

#checkbox {
  width: 20px !important;
  height: 20px !important;
  appearance: none;

  /* Base/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  border-radius: 6px;
}

#checkbox:hover {
  border: 1px solid #84caff;
  box-shadow: 0px 0px 0px 4px #d1e9ff;
  border-radius: 6px;
  cursor: pointer;
}

#checkbox:checked:after {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #1570ef;
  content: "\f00c";
  font-size: 13px;
  padding-left: 3px;
  /* padding-top: 19px; */
  /* display: none; */
}

textarea {
  /* Remove defaylt styling */
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  font-weight: 400;
  font-size: 16px;
  font-family: "Inter";

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 14px;
  gap: 8px;
  resize: none;
  /* width: 720px; */
  width: 97%;
  height: 132px;

  /* Base/White */
  background: #ffffff;
  /* Gray/300 */

  border: 1px solid #d0d5dd;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

textarea:required:focus {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #ffd3cc;
  border-radius: 8px;
}

.textarea-error {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #ffd3cc !important;
  border-radius: 8px !important;
}

#message-textarea p {
  color: red;
  /* display: none; */
}

.message-feedback {
  display: block;
}

#btn__submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;
  color: white;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  height: 48px;
  background: #1570ef;
  /* Primary/600 */

  border: 1px solid #1570ef;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

#btn__submit:hover {
  cursor: pointer;
  background: #b2ddff;
}

/* Mobile responsiveness */
@media only screen and (max-width: 600px) {
  #contact-me-container {
    margin-top: -15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px;
    gap: 48px;
    width: 375px;
    height: 884px;
    overflow-x: hidden;
    z-index: 4;
    margin-left: 0;
    margin-right: 0;
  }
  #contact-header {
    padding: 15px 0;
  }

  #contact-me {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    padding: 0 16px;
  }
  #contact-me-text {
    width: 343px;
    height: 56px;
    padding: 0 16px;
  }
  form {
    padding: 0 16px;
    margin: 0;
  }

  input::placeholder {
    width: 315px;
    height: 24px;
  }
  textarea {
    width: 320px !important;
    overflow: hidden;
  }
  #name-row {
    gap: 4px;
    display: flex;
    flex-direction: column;
    text-align: left;
    /* gap: 22px; */
  }
  #first-name-container,
  #second-name-container {
    margin: 8px 0;
  }
  #first_name,
  #last_name,
  #email {
    width: 343px;
    display: flex;
    padding: 2px 0;
    flex-direction: column;
  }
  #checkbox {
    width: 20px !important;
    height: 20px !important;
    padding: 8px;
    position: relative;
  }
  #checkbox:checked:after {
    font-size: 13px;
    padding-right: 90px;
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: #1570ef;
    content: "\f00c";
    position: absolute;
    top: 10%;
    left: 0;
  }

  #checkbox-area {
    width: 311px;
    height: 48px;

    text-align: left;
  }

  #btn__submit {
    width: 343px;
  }
}
